In [15]:

import requests
import pandas as pd
import os, errno
from datetime import datetime
import re

today = datetime.date(datetime.now()).strftime("%Y-%m-%d")
directoryName = 'oregon_county_scrapes'
fileName = directoryName + "/" + directoryName + "_" + today + ".csv"

URL = "https://govstatus.egov.com/OR-OHA-COVID-19"
r = requests.get(URL) 

pd.read_html(r.content)[1]

oregonCounties = pd.read_csv('oregon_county_list.csv')
oregonCounties.columns = ['County', 'Coordinates', 'Population']
oregonCounties['County'] = oregonCounties['County'].apply(lambda x: " ".join(x.split()[0:-1]).strip())
oregonCounties['Latitude'] = oregonCounties['Coordinates'].apply(lambda x: (re.match('Point\(([^()]+)\)', x)[1].split())[1])
oregonCounties['Longitude'] = oregonCounties['Coordinates'].apply(lambda x: (re.match('Point\(([^()]+)\)', x)[1].split())[0])
oregonCounties = oregonCounties.drop(['Coordinates'], axis=1)

oregonCleanDF = pd.read_html(r.content)[1].iloc[0:36]
oregonCleanDF['County'] = oregonCleanDF['County'].apply(lambda x: x.strip())
oregonCleanDF.columns = ["County", "Confirmed", "Deaths", "Negative Test Results"]
oregonCleanDF = oregonCleanDF.join(oregonCounties.set_index("County"), on="County")
oregonCleanDF.fillna(0.0)

oregonCleanDF['Date'] = today
try:
	os.mkdir(directoryName)
except OSError as e:
       if e.errno != errno.EEXIST:
       	  raise
oregonCleanDF.to_csv(fileName)

oregonCleanDF

,County,Confirmed,Deaths,Negative Test Results,Population,Latitude,Longitude,Date
0,Baker,0,0,2,16018,44.71,-117.67,2020-03-23
1,Benton,4,0,121,86591,44.490277777,-123.4325,2020-03-23
2,Clackamas,14,0,431,388263,45.19,-122.21,2020-03-23
3,Clatsop,0,0,43,37244,46.01,-123.71,2020-03-23
4,Columbia,0,0,49,49344,45.95,-123.08,2020-03-23
5,Coos,0,0,44,62282,43.18,-124.09,2020-03-23
6,Crook,0,0,5,20815,44.13,-120.36,2020-03-23
7,Curry,0,0,12,22339,42.48,-124.136666666,2020-03-23
8,Deschutes,10,0,91,165954,43.91,-121.22,2020-03-23
9,Douglas,1,0,48,106940,43.29,-123.18,2020-03-23
10,Gilliam,0,0,1,1947,45.38,-120.21,2020-03-23
11,Grant,1,0,0,7283,44.43841,-118.89173,2020-03-23
12,Harney,0,0,1,7146,43.07,-118.97,2020-03-23
13,Hood River,1,0,38,22675,45.5175,-121.649444444,2020-03-23
14,Jackson,2,0,207,208545,42.42,-122.74,2020-03-23
15,Jefferson,0,0,6,21145,44.63,-121.17,2020-03-23
16,Josephine,1,0,29,83306,42.36,-123.56,2020-03-23
17,Klamath,1,0,45,65910,42.68,-121.65,2020-03-23
18,Lake,0,0,0,7820,42.79,-120.39,2020-03-23
19,Lane,4,1,171,356212,43.95,-122.88,2020-03-23
20,Lincoln,0,0,18,46350,44.64,-123.91,2020-03-23
21,Linn,20,1,315,118765,44.63,-123.09,2020-03-23
22,Malheur,0,0,13,30479,43.21,-117.63,2020-03-23
23,Marion,30,1,295,323614,44.91,-122.58,2020-03-23
24,Morrow,0,0,4,11336,45.42,-119.57,2020-03-23
25,Multnomah,21,1,796,766135,45.54,-122.41,2020-03-23
26,Polk,3,0,71,76794,44.91,-123.42,2020-03-23
27,Sherman,0,0,1,1731,45.41,-120.69,2020-03-23
28,Tillamook,0,0,9,25317,45.46,-123.7,2020-03-23
29,Umatilla,2,0,34,76720,45.375131,-118.7513661,2020-03-23
30,Union,1,0,14,25652,45.327222222,-118.093333333,2020-03-23
31,Wallowa,0,0,3,6814,45.58,-117.17,2020-03-23
32,Wasco,0,0,19,25477,45.16,-121.16,2020-03-23
33,Washington,69,1,612,554996,45.56,-123.09,2020-03-23
34,Wheeler,0,0,1,1381,44.73,-120.02,2020-03-23
35,Yamhill,6,0,100,100725,45.23,-123.31,2020-03-23

In [13]:
oregonCounties

        County  Population      Latitude       Longitude
0        Baker       16018         44.71         -117.67
1    Jefferson       21145         44.63         -121.17
2      Lincoln       46350         44.64         -123.91
3      Sherman        1731         45.41         -120.69
4      Jackson      208545         42.42         -122.74
5    Multnomah      766135         45.54         -122.41
6       Benton       86591  44.490277777       -123.4325
7      Yamhill      100725         45.23         -123.31
8        Crook       20815         44.13         -120.36
9   Hood River       22675       45.5175  -121.649444444
10      Harney        7146         43.07         -118.97
11     Clatsop       37244         46.01         -123.71
12       Grant        7283      44.43841      -118.89173
13    Columbia       49344         45.95         -123.08
14     Klamath       65910         42.68         -121.65
15   Josephine       83306         42.36         -123.56
16     Douglas      106940         43.29         -123.18
17   Clackamas      388263         45.19         -122.21
18      Marion      323614         44.91         -122.58
19       Curry       22339         42.48  -124.136666666
20   Deschutes      165954         43.91         -121.22
21        Coos       62282         43.18         -124.09
22  Washington      554996         45.56         -123.09
23     Gilliam        1947         45.38         -120.21
24        Lake        7820         42.79         -120.39
25    Umatilla       76720     45.375131    -118.7513661
26     Wheeler        1381         44.73         -120.02
27   Tillamook       25317         45.46          -123.7
28      Morrow       11336         45.42         -119.57
29     Wallowa        6814         45.58         -117.17
30       Wasco       25477         45.16         -121.16
31        Polk       76794         44.91         -123.42
32        Lane      356212         43.95         -122.88
33     Malheur       30479         43.21         -117.63
34       Union       25652  45.327222222  -118.093333333
35        Linn      118765         44.63         -123.09